.contacts_feedback .control-label{
	display: block;
	width: 100%;
}

.contacts_feedback{
	margin-bottom: 30px;
}

#contact {
	padding: 0 !important;
}

@media screen and (max-width: 768px) {
	.contacts_feedback #contact{
		padding: 0;
	}
}