@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body{
		margin-right: 16px;
	}
}

@media screen and (max-width: 900px) {
	.menu_left {
		padding: 15px 0 0 20px;
		width: 33%;
	}

	.menu_right {
		padding: 15px 20px 0 0;
		width: 38%;
	}

}


@media screen and (max-width: 768px) {

	.odcat {
		display: none;
		width: 100%;
	}
	.buttons_mobile_shop{
		display: block;
	}

	.title_all_categories{
		display: none;
	}

	.wrapper_search{
		  float: right;
		  display: none;
		  text-align: right;
		  width: 50%;
		  margin-right: -3px;
	}

	.jshop_mystyle{
		margin-top: -17px;
	}

	.sorting_wrapper{
		display: none;
		padding-right: 6px;
	}

	.list_categories{
		margin-top: -35px;
		padding-left: 5px;
	}
	.form-horizontal .box_products_sorting .control-label{
		margin-top: 5px;
		margin-left: 10px;
	}
	.form-horizontal .box_products_count_to_page .control-label{
		margin-left: 20px;
	}

	.form-horizontal .box_products_count_to_page .control-label{
		margin-top: 5px;
	}
	.block_sorting_count_to_page .box_products_count_to_page{
		width: 160px;
	}
}


@media screen and (max-width: 670px) {
	.menu {
		display: none;
	}

	.cart_header_text {
		display: none;
	}

	.logo {
		float: left;
		margin-left: 3%;
	}

	.burger_menu {
		float: right;
		margin-right: 3%;
	}

	.logo img {
		max-width: 70px;
	}

	.wrapper {
		padding-bottom: 50px;
	}

	.footer_wrapper{
		width: 99%;
	}

	.menu_footer li {
		height: 18px;
		width: 49%;
		max-width: 530px;
	}

	.menu_footer li a {
		font-size: 12px;
		height: 30px;
	}

	.menu_footer {
		line-height: 18px;
		width: 40%;
		margin-left: 3%;
	}


	.icons_social_networks {
		margin-top: 5px;
		margin-right: 25px;
	}

	.icons_social_networks img {
		width: 30px;
	}

}

@media screen and (max-width: 490px) {
	.wrapper {
		padding-bottom: 82px;
	}

	.icons_social_networks {
		margin-top: 5px;
	}

	.icons_social_networks {
		min-width: 115px;
	}

	.menu_footer li {
		width: 100%;
	}

	.menu_footer li a {
		font-size: 12px;
		height: 20px;
	}

	.sortind_wrapper{
		width: 310px;
		margin-bottom: 5px;
	}
	.block_sorting_count_to_page{
		float: right;
		margin-right: 0px;
	}
	.block_sorting_count_to_page .box_products_sorting{
		float: none;
		margin-right: -8px;
	}

	.block_sorting_count_to_page .box_products_count_to_page{
		float: right;
		margin: 5px -24px -5px 0;
	}
}

@media screen and (max-width: 480px) {
	.form-horizontal .box_products_sorting .control-label{
		margin-top: 0px;
	}

	.form-horizontal .box_products_count_to_page .control-label{
		margin-top: 0px;
	}
}

@media screen and (max-width: 470px) {
	.left_col_main_categories {
		width: 100%;
	}

	.belt_main_categories {
		width: 100%;
		margin-bottom: 2px;
	}

	.right_col_main_categories {
		width: 100%;
	}
}


@media screen and (max-width: 360px) {
	.wrapper_search{
		width: 60%;
	}
}

