* {
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: "OpenSansCond", sans-serif;
	src: url("../fonts/OpenSans-CondLight.eot");
	src: local('☺'),
	url("../fonts/OpenSans-CondLight.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans-CondensedLight.woff") format("woff"),
	url("../fonts/OpenSans-CondLight.woff2") format("woff2"),
	url("../fonts/OpenSans-CondLight.ttf") format("truetype"),
	url("../fonts/OpenSans-CondensedLight.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSansCond-Bold";
	src: url("../fonts/OpenSans-CondBold.eot");
	src: local('☺'),
	url("../fonts/OpenSans-CondBold.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans-CondensedBold.woff") format("woff"),
	url("../fonts/OpenSans-CondBold.woff2") format("woff2"),
	url("../fonts/OpenSans-CondBold.ttf") format("truetype"),
	url("../fonts/OpenSans-CondensedBold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"PTSansNarrow";
	src: url("../fonts/ptsansnarrow.eot");
	src: local('☺'),
	url("../fonts/ptsansnarrow.eot?") format("embedded-opentype"),
	url("../fonts/ptsansnarrow.woff") format("woff"),
	url("../fonts/ptsansnarrow.woff2") format("woff2"),
	url("../fonts/ptsansnarrow.ttf") format("truetype"),
	url("../fonts/ptsansnarrow.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
	margin-top: 0 !important;
}

body {
	position: relative;
	min-height: 100%;
	/*font-family: "OpenSansCond", sans-serif;*/
	background: white;
}

.edit-icon{
	display: none;
}

.wrapper {
	position: relative;
	min-height: 100%;
	padding-bottom: 122px;
}

.wrap_content_all_page{
	border-top: 2px solid darkred;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-top: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wrap_content_all_page:after{
	content: "";
	clear: both;
	display: table;
}

.content {
	padding: 0;
	width: 100%;
	margin: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a img{
	border: none;
}

.left{
	float: left;
}

.right{
	float: right;
}

.image_hover{
	position: absolute;
}

.image_upper{
	position: relative;
}

.image_upper:hover{
	opacity: 0;
}


/*header*/
.main-navigation{
	display: none;
}

header{
	width: 100%;
	max-width: 1200px;
	/*border-left: 1px solid #efefef;*/
	/*border-right: 1px solid #efefef;*/
	padding: 0 0 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: auto;
}

.checkin a{
	margin-left: 5px;
	color: black;
	text-decoration: none;
}

.checkin a:hover{
	text-decoration: underline;
}

.top_header{
	height: 23px;
	margin-bottom: 10px;
	font-family: "PTSansNarrow", sans-serif;
	border-bottom: 1px solid #efefef;
}

.top_header:after{
	content: "";
	clear: both;
	display: table;
}

.basket_header{
	border: 0px solid #ccff2d;
	margin-right: 5px;
	margin-top: 1px;
}

.basket_header a{
	color: #0a001f;
	font-size: 15px;
	text-decoration: none;
}

.basket_header a:hover{
	color: #303030;
	text-decoration: underline;
	/*-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);*/
	/*-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);*/
	/*text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);*/
}

.count_cart_header{
	padding-top: 1px;
}

.basket_header img{
	width: 22px;
	padding-right: 5px;
}

.basket_header:after{
	content: "";
	clear: both;
	display: table;
}

.nav_wrap{
	font-family: "OpenSansCond-Bold", sans-serif;
}

.nav{
	border: 0px solid #ccff2d;
	text-align: center;
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.menu{
	display: inline-block;
	border: 0px solid #6e62ff;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.menu_left{
	padding: 15px 0 0 20px;
	width: 30%;
}

.menu_right{
	padding: 15px 20px 0 0;
	width: 35%;
}

.menu:after{
	content: "";
	clear: both;
	display: table;
}

.menu li{
	display: inline-block;
	list-style: none;
	zoom: 1;
	*display: inline;
	border: 0px solid red;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: #181818;
	font-size: 18px;
}


.menu li a:hover{
	color: #01fab7;
}

.menu_left_first{
	margin-left: 30px;
}

.menu_right_last{
	margin-right: 20px;
}

.logo{
	display: inline-block;
	border: 0px solid #6e62ff;
	width: 15%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.logo img{
	max-width: 90px;
}

.burger_menu img{
	width: 30px;
	margin-top: 7px;
	cursor: pointer;
}

.burger_menu{
	display: none;
}

.burger_menu_close img{
	width: 32px;
	margin-right: 2%;
	margin-top: 6px;
	cursor: pointer;
	float: right;
}

.burger_menu_close{
	display: none;
}

.nav_mobile{
	border: 0px solid #6e62ff;
	width: 80%;
	position: absolute;
	right: 0;
	top: 83px;
	background-color: rgba(201, 201, 201, 0.7);
	margin-top: 2px;
	z-index: 999;
	display: none;
}

.nav_mobile ul{
	margin-bottom: 0;
}

.menu_mobile li{
	list-style: none;
	zoom: 1;
	*display: inline;
	border-bottom: 1px solid #dfdfdf;
	cursor: pointer;
	padding-top: 15px;
}

.menu_mobile li:hover{
	background-color: rgba(113, 113, 113, 0.7);
}

.menu_mobile li div{
	height: 40px;
	text-align: center;
}

.menu_mobile li a{
	display: block;
	text-decoration: none;
	color: #181818;
	font-size: 20px;
}


/*footer*/
footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: auto;
	font-family: "OpenSansCond-Bold", sans-serif;
}

.footer_wrapper{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border: 1px solid #ccff2d;
	/*border-left: 1px solid #efefef;*/
	/*border-right: 1px solid #efefef;*/
	/*border-bottom: 1px solid #efefef;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.footer_wrapper:after{
	content: "";
	clear: both;
	display: table;
}

.menu_footer{
	border: 0px solid red;
	width: 60%;
	line-height: 120px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
}

.menu_footer ul{
	vertical-align: middle;
	margin-bottom: 0;
}

.menu_footer li{
	list-style: none;
	zoom: 1;
	display: inline-block;
	border: 0px solid #37ff45;
	height: 120px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 14%;
	min-width: 72px;
	max-width: 130px;
}


.menu_footer li a{
	display: block;
	text-decoration: none;
	color: #919191;
	font-size: 15px;
}

.menu_footer li a:hover{
	color: #3f3f3f;
}

.icons_social_networks{
	width: 38%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0px solid red;
	position: relative;
	margin-top: 43px;
	right: 0;
}

.icons_social_networks img{
	width: 35px;
}

.icon_footer{
	display: inline-block;
	text-align: center;
	padding-right: 5px;

}

/*main_image*/

.main_img img{
	width: 100%;
	max-width: 1370px;
	/*max-height: 565px;*/
	margin:  -15px auto 2px;
}

.wrap_main_categories{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border: 0px solid #6e62ff;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}

.wrap_main_categories:after{
	content: "";
	clear: both;
	display: table;
}

.left_col_main_categories{
	border: 0px solid #03fac0;
	width: 50%;
}

.right_col_main_categories{
	border: 0px solid #03fac0;
	width: 50%;
}

.col_main_categories{
	position: relative;
}

.col_main_categories img{
	width: 100%;
}

.belt_main_categories{
	width: 99%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin-right: 10px;
	position: relative;
}

.purse_main_categories{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 2px;
}

.bag_main_categories{
	width: 49%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.accessories_main_categories{
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.wrap_feedback_form{
	width: 100%;
	max-width: 1200px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	height: 300px;
	background: url("/joomlastayn/templates/mytemplate/images/bg_01.jpg");
}




/*login_page*/
#mxcpr {
	display: none;
}


/*shop-page*/

.jshop h1{
	display: none;
}

.link_all_categories_display{
	width: 122px;
	cursor: pointer;
	display: none;
 }


.link_all_categories_display a:hover{
	text-decoration: none;
}

.all_categories_display{
	border: 1px solid #4cae4c;
	background: #5cb85c url("/joomlastayn/templates/mytemplate/images/arrow486.png") no-repeat 97% 58%;
	background-size: 10px;
	padding: 5px;
	color: white;
}

.jshop_mystyle{
	border: 0px solid #ff582c;
	float: right;
	/*width: 80%;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.list_categories{
	font-family: "OpenSansCond-Bold", sans-serif;
	font-size: 17px;
	border: 0px solid #37ff45;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.list_categories a{
	 color:black;
 }


.list_categories a:hover{
	text-decoration: none;
}

.list_categories li{
	list-style: none;
	border-top: 1px solid #efefef;

}

.list_categories li a div{
	min-height: 30px;
	padding-top: 3px;
	/*border: 1px solid #4938ef;*/
	padding-left: 5px;
}

.list_categories li a div:hover{
	background: #efefef;
}

.list_categories>ul>li:last-child{
	border-bottom: 1px solid #efefef;
}

.list_categories>ul>li>ul>li>a>div{
	font-size: 15px;
	padding-left: 15px;
}

/*.list_categories a div{*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/

/*.list_categories .odcat tr td.odsubcat-2{*/
	/*font-size: 15px;*/
/*}*/

/*.list_categories td:hover{*/
	/*background: #c9c9c9;*/
/*}*/

/*.list_categories td a:hover{*/
	/*text-decoration: none;*/
/*}*/

/*.list_categories td{*/
	/*border-top: 1px solid #c9c9c9;*/
	/*border-bottom: 1px solid #c9c9c9;*/
/*}*/

/*.list_categories .odcat{*/
	/*border: none;*/
/*}*/

