* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "OpenSansCond";
	src: url("../fonts/OpenSans-CondLight.eot");
	src: local('☺'),
	url("../fonts/OpenSans-CondLight.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans-CondensedLight.woff") format("woff"),
	url("../fonts/OpenSans-CondLight.woff2") format("woff2"),
	url("../fonts/OpenSans-CondLight.ttf") format("truetype"),
	url("../fonts/OpenSans-CondensedLight.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSansCond-Bold";
	src: url("../fonts/OpenSans-CondBold.eot");
	src: local('☺'),
	url("../fonts/OpenSans-CondBold.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans-CondensedBold.woff") format("woff"),
	url("../fonts/OpenSans-CondBold.woff2") format("woff2"),
	url("../fonts/OpenSans-CondBold.ttf") format("truetype"),
	url("../fonts/OpenSans-CondensedBold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PTSansNarrow";
	src: url("../fonts/ptsansnarrow.eot");
	src: local('☺'),
	url("../fonts/ptsansnarrow.eot?") format("embedded-opentype"),
	url("../fonts/ptsansnarrow.woff") format("woff"),
	url("../fonts/ptsansnarrow.woff2") format("woff2"),
	url("../fonts/ptsansnarrow.ttf") format("truetype"),
	url("../fonts/ptsansnarrow.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
	margin-top: 0 !important;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	position: relative;
	min-height: 100%;
	background: white;
	color: black;
}

.edit-icon {
	display: none;
}

input[type="text"],input[type="password"], textarea{
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	-webkit-appearance: none;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

.wrapper {
	position: relative;
	min-height: 100%;
	padding-bottom: 122px;
}

.wrap_content_all_page {
	border-top: 2px solid #515151;
	font-family: "PTSansNarrow";
	font-size: 17px;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-top: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wrap_content_all_page:after {
	content: "";
	clear: both;
	display: table;
}

.content {
	padding: 0;
	width: 100%;
	margin: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a img {
	border: none;
	outline: none !important;
}
a{
	outline: none !important;
}
.left {
	float: left;
}
.right {
	float: right;
}
.image_hover {
	position: absolute;
}
.image_upper {
	position: relative;
}
.image_upper:hover {
	opacity: 0;
}
.red_border{
	border: 1px solid #ff3304 !important;
}

.error_page{
	padding-top: 20px;
	font-family: "OpenSansCond-Bold";
	font-size: 19px;
}

.error_page h1{
	font-size: 22px;
}

	/*header*/
.main-navigation {
	display: none;
}
header {
	width: 100%;
	max-width: 1200px;
	padding: 0 0 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: auto;
}
.top_header {
	height: 23px;
	margin-bottom: 10px;
	font-family: "PTSansNarrow", sans-serif;
	border-bottom: 1px solid #efefef;
}
.top_header:after {
	content: "";
	clear: both;
	display: table;
}
.wrapper_search {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	width: 200px;
	height: 24px;
	text-align: left;
	padding-left: 5px;
	border: 0px solid #ff3304;
}
.button_search {
	 outline: none;
	 border-left: 0px solid #d0d0d0;
	 vertical-align: bottom;
	 margin-bottom: 11px;
	 width: 16px;
	 box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
 }
.wrapper_search .inputbox {
	border:none;
	height: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
	font-family: "OpenSansCond";
	font-size: 16px;
	color: black;
}
.inputbox:focus{
	border-bottom: 1px solid #979797;
}
.inputbox:hover{
	border-bottom: 1px solid #979797;
}
.inputbox_wrap{
	border-bottom: 0px solid #979797;
	display: inline-block;
	vertical-align: bottom;
	height: 21px;
}
.basket_header {
	border: 0px solid #ccff2d;
	margin-right: 5px;
	margin-top: 1px;
}
.basket_header a {
	color: #0a001f;
	font-size: 15px;
	text-decoration: none;
}
.basket_header a:hover {
	color: #303030;
	text-decoration: underline;
}
.count_cart_header {
	padding-top: 0px;
}
.basket_header img {
	width: 22px;
	padding-right: 5px;
	margin-top: 2px;
}
.basket_header:after {
	content: "";
	clear: both;
	display: table;
}
.nav_wrap {
	font-family: "OpenSansCond-Bold", sans-serif;
}
.nav {
	border: 0px solid #ccff2d;
	text-align: center;
	width: 100%;
	max-width: 900px;
	margin: auto;
}
.menu {
	display: inline-block;
	border: 0px solid #6e62ff;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.menu_left {
	padding: 15px 0 0 20px;
	width: 30%;
}
.menu_right {
	padding: 15px 20px 0 0;
	width: 35%;
}
.menu:after {
	content: "";
	clear: both;
	display: table;
}
.menu li {
	display: inline-block;
	list-style: none;
	zoom: 1;
	*display: inline;
	border: 0px solid red;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.menu li a {
	display: block;
	text-decoration: none;
	color: #181818;
	font-size: 18px;
}
.menu_left_first {
	margin-left: 30px;
}
.menu_right_last {
	margin-right: 20px;
}
.logo {
	display: inline-block;
	border: 0px solid #6e62ff;
	width: 15%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.logo img {
	max-width: 90px;
}
.burger_menu img {
	width: 30px;
	margin-top: 7px;
	cursor: pointer;
}
.burger_menu {
	display: none;
}
.burger_menu_close img {
	width: 32px;
	margin-right: 2%;
	margin-top: 6px;
	cursor: pointer;
	float: right;
}
.burger_menu_close {
	display: none;
}
.nav_mobile {
	border: 0px solid #6e62ff;
	width: 100%;
	position: absolute;
	right: 0;
	top: 83px;
	background-color: rgba(80, 80, 80, 0.9);
	margin-top: -1px;
	z-index: 999;
	display: none;
}
.nav_mobile ul {
	margin-bottom: 0;
}
.menu_mobile li {
	list-style: none;
	zoom: 1;
	*display: inline;
	border-bottom: 1px solid #dfdfdf;
	cursor: pointer;
	padding-top: 15px;
}
.menu_mobile li:hover {
	background-color: rgba(83, 83, 83, 0.7);
}
.menu_mobile li div {
	height: 40px;
	text-align: center;
}
.menu_mobile li a {
	display: block;
	text-decoration: none;
	color: #eeeeee;
	font-size: 20px;
	-moz-text-shadow: 2px 2px 1px #000;
	-webkit-text-shadow: 2px 2px 1px #000;
	text-shadow: 2px 2px 1px #000;
}

/*footer*/
.wrap_content_all_page footer{
	max-width: 1200px;
}

footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: auto;
	font-family: "OpenSansCond-Bold", sans-serif;
}
.footer_wrapper {
	width: 90%;
	max-width: 1100px;
	margin: auto;
	border: 0px solid #ccff2d;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.footer_border_top{
	border-top: 2px solid #515151;
	max-width: 1200px;
	margin: auto;
}
.footer_wrapper:after {
	content: "";
	clear: both;
	display: table;
}
.menu_footer {
	border: 0px solid red;
	line-height: 120px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
}
.menu_footer ul {
	vertical-align: middle;
	margin-bottom: 0;
}
.menu_footer li {
	list-style: none;
	zoom: 1;
	display: inline-block;
	border: 0px solid #37ff45;
	height: 120px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 14%;
	min-width: 92px;
	max-width: 130px;
}
.menu_footer li a {
	display: block;
	text-decoration: none;
	color: #919191;
	font-size: 15px;
}
.menu_footer li a:hover {
	color: #3f3f3f;
}
.icons_social_networks {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0px solid red;
	position: relative;
	margin-top: 43px;
	margin-right: 12px;
	right: 0;
}
.icons_social_networks img {
	width: 35px;
}
.icon_footer {
	display: inline-block;
	text-align: center;
	padding-right: 5px;

}


/*system message*/

.system_message_block{
	width: 50%;
	margin-left: 20px;
}
.alert-info{
	background: white;
	color: black;
	border: 1px solid #444444;
}
.alert p{
	margin: 0;
}

/*main_image*/

.main_img img {
	width: 100%;
	max-width: 1370px;
	margin: -14px auto 2px;
}
.wrap_main_categories {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border: 0px solid #6e62ff;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}
.wrap_main_categories:after {
	content: "";
	clear: both;
	display: table;
}
.left_col_main_categories {
	border: 0px solid #03fac0;
	width: 50%;
}
.right_col_main_categories {
	border: 0px solid #03fac0;
	width: 50%;
}
.col_main_categories {
	position: relative;
}
.col_main_categories img {
	width: 100%;
}
.belt_main_categories {
	width: 99%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin-right: 10px;
	position: relative;
}
.purse_main_categories {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 2px;
}
.bag_main_categories {
	width: 49%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.accessories_main_categories {
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.wrap_feedback_form {
	width: 100%;
	max-width: 1200px;
	height: 300px;
	background: url("/joomlastayn/templates/mytemplate/images/bg_01.jpg");
}

/*login_page*/
#mxcpr {
	display: none;
}

/*shop-page*/
/*list-categiries*/
.buttons_mobile_shop:after {
	content: "";
	clear: both;
	display: table;
}
.buttons_mobile_shop {
	margin-top: 35px;
	display: none;
}
.link_all_categories_display {
	width: 122px;
	cursor: pointer;
	float: left;
}
.link_all_categories_display a:hover {
	text-decoration: none;
}
.all_categories_display {
	border: 1px solid #dadada;
	background: #000000 url("/joomlastayn/templates/mytemplate/images/arrow486.png") no-repeat 97% 58%;
	background-size: 10px;
	padding: 5px;
	color: white;
}
.all_categories_display:hover {
	background: #ffffff url("/joomlastayn/templates/mytemplate/images/arrow-black.png") no-repeat 97% 58%;
	background-size: 10px;
	border: 1px solid #000000;
	color: #000000;
}
.title_all_categories {
	color: black;
	font-size: 19px;
	margin-bottom: 2px;
	padding-top: 6px;
	padding-left: 5px;
}
.list_categories {
	font-family: "OpenSansCond-Bold", sans-serif;
	font-size: 17px;
	border: 0px solid #37ff45;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: 10px;
	margin-top: -8px;
}
.list_categories a {
	color: black;
}
.list_categories a:hover {
	text-decoration: none;
}
.list_categories li {
	list-style: none;
	border-top: 1px solid #efefef;
}
.list_categories li a div {
	min-height: 30px;
	padding-top: 3px;
	padding-left: 5px;
}
.list_categories li a div:hover {
	background: #efefef;
}
.list_categories > ul > li:last-child {
	border-bottom: 1px solid #efefef;
}
.list_categories > ul > li > ul > li > a > div {
	font-size: 15px;
	padding-left: 15px;
}


/*sorting*/

.link_all_filters_display {
	width: 122px;
	cursor: pointer;
	font-family: "OpenSansCond-Bold", sans-serif;
	font-size: 17px;
	float: right;
	margin-right: -3px;
}
.link_all_filters_display a:hover {
	text-decoration: none;
}
.all_filters_display {
	border: 1px solid #dadada;
	background: #000000 url("/joomlastayn/templates/mytemplate/images/arrow486.png") no-repeat 97% 58%;
	background-size: 10px;
	padding: 5px;
	color: white;
}
.all_filters_display:hover {
	background: #ffffff url("/joomlastayn/templates/mytemplate/images/arrow-black.png") no-repeat 97% 58%;
	background-size: 10px;
	border: 1px solid #000000;
	color: #000000;
}
.sorting_wrapper {
	width: 100%;
	margin-bottom: 7px;
}
.block_sorting_count_to_page {
	border: 0px solid #bb31ef;
	float: right;
	margin-right: -26px;
	font-family: "PTSansNarrow", sans-serif;
	font-size: 15px;
	line-height: 1;
}
.sorting_wrapper:after {
	content: "";
	clear: both;
	display: table;
}
.block_sorting_count_to_page .inputbox {
	outline: none;
	border: 1px solid #d0d0d0;
}
.block_sorting_count_to_page .box_products_sorting {
	border: 0px solid #73ef4c;
	width: 198px;
	float: left;
}
.block_sorting_count_to_page .box_products_count_to_page {
	border: 0px solid #ef8d40;
	width: 145px;
	float: right;
}
.form-horizontal .box_products_sorting .control-label {
	width: 75px;
	margin-top: -2px;
}
.form-horizontal .box_products_count_to_page .control-label {
	width: 72px;
	margin-top: -2px;
}
.form-horizontal .box_products_sorting .controls .inputbox {
	width: 100px;
}
.form-horizontal .box_products_count_to_page .controls .inputbox {
	width: 41px;
}
.block_sorting_count_to_page select {
	height: 25px;
	background: url("/joomlastayn/templates/mytemplate/images/arrow-black.png") no-repeat 94%;
	background-size: 11px;
	/*for WebKit*/
	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;
}

/*all products*/
.jshop_mystyle {
	border: 0px solid #ff582c;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: -30px;
}
.noresult_search{
	font-family: "PTSansNarrow";
	font-size: 18px;
	padding-left: 8px;
}
.jshop_list_product {
	margin-top: 26px;
}
.row-fluid [class*="sblock"] {
	padding: 0;
}
img.jshop_img {
	width: 100%;
}
.hidden_h1{
	display: none;
}
.one_product {
	border: 1px solid #efefef;
	margin: -1px 5px 30px;
	font-family: "OpenSansCond";
}
.jshop_price, .one_product a {
	color: black;
}
.jshop_list_product .product .name {
	margin-bottom: 1px;
}
.jshop_list_product .product .name a:hover{
	text-decoration: none;
	font-weight: 700;
}

/*pagination*/
.jshop_pagination{
	margin-right: 5px;
}
.pagination-next a, .pagination-next span{
	background: url("/joomlastayn/templates/mytemplate/images/keyboard-right-arrow-button.png") no-repeat 51% 58%;
	background-size: 9px;
}
.pagination-prev a, .pagination-prev span{
	background: url("/joomlastayn/templates/mytemplate/images/keyboard-left-arrow-button.png") no-repeat 51% 58%;
	background-size: 9px;
}
.pagination ul li a, .pagination ul li span{
	height: 28px;
	width: 28px;
	color: black;
}
.pagination>li>a, .pagination>li>span{
	padding: 2px 8px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	width: 25px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	width: 25px;
}

/*one products page*/
.one_product_one_page {
	margin-top: 6px;
	padding-left: 20px;
}
.wrapper_description_product{
	padding-right: 1%;
	padding-left: 20px;
	font-family: "OpenSansCond";
	font-size: 18px;
	width: 59%;
	float: right;
}
.image_middle_wrap{
	width: 40%;
	float: left;
}
.productfull .image_middle{
	width: 100%;
}
.wrapper_description_product h1{
	font-weight: 900;
	font-size: 24px;
}
.jshop_prod_description span{
	font-family: OpenSansCond !important;
}
.wrapper_description_product #block_price{
	font-family: "OpenSansCond-Bold", sans-serif;
	color: #656565;
	font-size: 20px;
}
.productfull .prod_qty_input{
	display: block;
	padding: 0;
}
.productfull .prod_qty{
	display: block;
	font-weight: 900;
}
.productfull .buttons {
	padding: 10px 0 0;
	display: block;
}
div.jshop_prod_attributes{
	margin: 0;
	padding: 0;
}
.wrapper_description_product .attributes_name{
	font-weight: 900;
}
.button_incart{
	width: 122px;
	cursor: pointer;
	font-family: "OpenSansCond-Bold", sans-serif;
	font-size: 17px;
	border: 1px solid #dadada;
	background: #000000;
	color: white;
	padding: 6px;
	margin-top: 30px;
	outline: none;
}
.button_incart:hover{
	background: #ffffff;
	border: 1px solid #000000;
	color: #000000;
}
.productfull .text_zoom{
	display: none;
}
.productfull .button_back input{
	float: right;
	width: 122px;
	cursor: pointer;
	font-family: "OpenSansCond-Bold", sans-serif;
	font-size: 17px;
	border: 1px solid #000000;
	background: #ffffff;
	color: #000000;
	padding: 5px;
	margin-top: -47px;
	margin-right: 45%;
	outline: none;
}
.productfull .button_back input:hover{
	border: 1px solid #dadada;
	background: #000000;
	color: white;
}
div.jshop_prod_attributes select, .jshop .prod_qty_input input{
	outline: none;
	background: white;
}
.productfull{
	margin-bottom: 50px;
}
.productfull:after{
	content: "";
	clear: both;
	display: table;
}
.hidden_alert_error{
	color: #ff3304;
	display: none;
	padding-top: 10px;
	font-family: "OpenSansCond";
	font-weight: bold;
}
#lightbox-container-image-data{
	display: none;
}
.product_main_img img{
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#list_product_image_thumb{
	max-width: 350px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img.jshop_img_thumb{
	margin: 3px 0 0;
	border: 0px solid #d0d0d0;
	max-width: 100px;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.owl-next img, .owl-prev img{
	width: 12px;
}
.owl-next{
	float: right;
	margin-right: -14px;
}
.owl-prev{
	float: left;
	margin-left: -14px;
}
.owl-theme .owl-controls{
	margin-top: -53px;
	padding-bottom: 37px;
}
.nav_wrap{
	margin-top: 10px;
}

/*cart*/

.cart_step{
	padding: 0px 20px 0;
	font-family: "PTSansNarrow";
	font-size: 16px;
	margin-top: -4px;
}
.cart_step a{
	color: black;
}
.cart_reload img, .remove img{
	width: 13px;
}
.pull-right img, .pull-left img{
	width: 10px;
	padding-top: 3px;
}
p.jshop_cart_attribute{
	font-size: 14px;
	font-weight: normal;
}
.cart_title{
	font-size: 20px;
	font-family: "OpenSansCond-Bold", sans-serif;
	color: black;
}
.address_block{
	padding: 0px 20px 0;
	font-family: "PTSansNarrow";
	font-size: 16px;
}
div.jshop_register{
	width: 100%;
	padding: 0;
}
.address_block .form-horizontal .control-label{
	text-align: left;
}
.cart_block{
	margin-top: 20px;
}
.cart_block a{
	color: black;
}
.address_block input[type="text"]{
	width: 60%;
	border: 1px solid #000000;
	height: 28px;
	font-size: 18px;
	outline: none;
	padding-left: 4px;
 }
.title_order{
	font-size: 20px;
	font-family: "OpenSansCond-Bold", sans-serif;
	color: black;
	margin-top: -4px;
	margin-bottom: 0;
}
.title_order_shipping{
	font-size: 20px;
	font-family: "OpenSansCond";
	color: black;
	margin-top: 0px;
	margin-bottom: 0;
}
.title_order_shipping{
	font-family: "OpenSansCond-Bold", sans-serif;
}
.checkout_shipping_block #table_shippings .name{
	font-family: "OpenSansCond-Bold", sans-serif;
}
.checkout_pfinish_block .checkoutinfo{
	font-family: "OpenSansCond-Bold", sans-serif;
	margin-top: 5px;
}
.checkoutinfo span{
	font-family: "PTSansNarrow";
}
.cart_buttons a{
	font-size: 16px;
	color: #000000;
}
.cart_buttons a:hover{
	text-decoration: none;
	color: #444444;
}
.cart_buttons{
	margin-top: 30px;
	margin-bottom: 20px;
}
.button_cart_forward{
	border: 1px solid #c3c3c3;
	background: #000000;
	color: #ffffff;
	padding: 5px;
	width: 100px;
	font-family: "OpenSansCond-Bold", sans-serif;
	margin: 20px 0 30px;
	outline: none;
	font-size: 16px;
}
.button_cart_finish{
	border: 1px solid #c3c3c3;
	background: #000000;
	color: #ffffff;
	padding: 5px;
	width: 145px;
	font-family: "OpenSansCond-Bold", sans-serif;
	margin: 20px 0 30px;
	outline: none;
	font-size: 16px;
}
.button_cart_forward:hover{
	 border: 1px solid #000000;
	 background: #ffffff;
	 color: #000000;
 }
.button_cart_finish:hover{
	border: 1px solid #000000;
	background: #ffffff;
	color: #000000;
}
.pfinish_comment_block .box_button, .pfinish_comment_block .name{
	text-align: left;
}
.pfinish_comment_block {
	width: 100%;
	max-width: 600px;
	margin: 20px 0 0;
}
.pfinish_comment_block #order_add_info{
	height: 100px;
	width: 100%;
	max-width: 600px;
}
.fielderror{
	background: #ffffff !important;;
	border: 1px solid #ff3304 !important;
	-webkit-box-shadow: 1px 1px 1px #979797;
	-moz-box-shadow: 1px 1px 1px #979797;
	box-shadow: 1px 1px 1px #979797;
}
.finish_block{
	font-family: "OpenSansCond-Bold", sans-serif;
	padding-left: 20px;
}

#shipping_form input, #shipping_form label{
	display: block;
}

#shipping_form label{
	margin-left: 20px;
	margin-top: -18px;
}

#shipping_form input{
	margin-top: 5px;
}


/*blog*/

.blog_img{
	padding-right: 10px;
	padding-top: 5px;
}

.blog, .item-page{
	padding: 0 8px 60px;
	margin-top: -30px;
}
.article-info-term{
	display: none;
}
.blog h2 a, .item-page h2{
	color: black;
}
.blog h2 a, .item-page h2{
	color: black;
}
.blog h2 a{
	line-height: 1;
	display: inline-block;
	text-decoration:none;
	cursor: pointer;
	margin-top: 10px;
}
.blog h2 a:after{
	display: block;
	content: "";
	height: 1px;
	width: 0;
	margin: auto;
	background-color: #444444;
	-webkit-transition: width .2s ease-in-out;
	-moz-transition: width .2s ease-in-out;
	-o-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}
.blog h2 a:hover:after, .blog h2 a:focus:after {
	width: 100%;
}
.blog .page-header, .item-page .page-header {
	padding: 0;
	margin: 40px 0 5px;
}
.blog dl, .item-page dl{
	margin-bottom: 5px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video_container {
	width: 700px;
	max-width: 98%;
	margin: auto;
}
.readmore a{
	padding: 6px 0px;
	text-decoration: underline;
	color: #000000;
}
.readmore a:hover{
	text-decoration: none;
	color: #824518;
}
.blog .item .item-image img{
	min-width: 200px;
	max-height: 400px;
}
.item-page .item-image img{
	min-width: 200px;
}
.item-page .pull-right img, .blog .pull-right img, .item-page img.pull-right{
	padding-left: 10px;
}
.item-page .pull-left img, .blog .pull-left img, .item-page img.pull-left{
	padding-right: 10px;
}
.back_blog{
	font-family: "PTSansNarrow";
	font-size: 15px;
	width: 100%;
	float: left;
	padding-left: 8px;
	margin-bottom: 10px;
	color: #676767;
}
.back_blog a{
	 text-decoration: none;
	 color: #676767;
}
.back_blog a:hover{
	color: #000000;
}
.blog .create, .item-page .create{
	font-size: 15px;
	text-align: left;
	color: #656565;
	width: 100%;
}
.create .icon-calendar img{
	width: 15px;
	padding-bottom: 4px;
	padding-right: 2px;
}

/*how to order*/

.item-page .how_order{
	margin-top: 45px;
	line-height: 1.2;
}
.how_order .title_how_order{
	font-size: 21px;
	font-family: "OpenSansCond-Bold";
	margin-bottom: 20px;
}
.how_order h2{
	font-size: 17px;
	font-family: "OpenSansCond-Bold";
}
.how_order img{
	width: 32px;
	margin-bottom: 10px;
}
.price_delivery{
	margin-top: -9px;
}
.description_delivery{
	width: 100%;
	padding-left: 42px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.how_order .attention{
	font-weight: bold;
}
.delivery_method:after{
	content: "";
	clear: both;
	display: table;
}
.how_order .independent_export{
	margin-top: -45px;
	margin-bottom: 5px;
}
.how_order .courier{
	margin-top: -39px;
	margin-bottom: 5px;
}
.how_order .first_class{
	margin-top: -38px;
	margin-bottom: 10px;
}
.how_order .ems{
	margin-top: -28px;
	margin-bottom: 5px;
}
.title_delivery_method{
	margin-bottom: 15px;
}


/*contacts*/

#contact {
	padding: 10px 0;
}

.item-page .wrap_contacts{
	line-height: 1.2;
	float: right;
	width: 49%;
	border: 0px solid #000000;
	margin-bottom: 100px;
	padding-left: 30px;
}

.wrap_contacts h1{
	font-size: 21px;
	font-family: "OpenSansCond-Bold";
	margin-bottom: 20px;
}

.wrap_contacts h2{
	font-size: 18px;
	font-family: "OpenSansCond-Bold";
	margin-bottom: 15px;
}

.wrap_contacts a{
	text-decoration: none;
	color: black;
}

.contacts_feedback .control-label{
	display: none;
}

.contacts_feedback{
	float: left;
	width: 45%;
	margin-top: -10px;
	margin-left: 10px;
}

.feedback_border{
	border: 1px solid #000000;
	padding: 0 20px;
	margin-top: 10px;
}

.contacts_feedback .title_feedback{
	font-size: 18px;
	font-family: "OpenSansCond-Bold";
}

.controls .input-80{
	max-width: 100%;
	width: 100%;
}

.contacts_feedback  .help-block{
	display: none;
}

.contacts_feedback .form-horizontal .controls{
	margin: 0 0 10px;
}

.contacts_feedback input, .contacts_feedback textarea{
	border: 1px solid #525252;
	padding: 5px;
	background: none;
	color: #000000;
	width: 100%;
	min-height: 35px;
}

.button_feedback{
	width: 122px;
	cursor: pointer;
	font-family: "OpenSansCond-Bold", sans-serif;
	font-size: 17px;
	border: 1px solid #979797;
	background: black;
	color: #ffffff;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 10px;
}

.button_feedback:hover{
	border: 1px solid #000000;
	background: rgba(255, 255, 255, 0.17);
	color: #000000;
}

.wrap_contacts img{
	width: 28px;
	margin-bottom: 15px;
}

.email, .phone, .address{
	margin-left: 40px;
	margin-top: -40px;
	font-size: 18px;
}

.contact_item{
	padding-bottom: 10px;
}

.contact_item img{
	width: 30px;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
}

.contact_item a img:hover{
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.item_contact_social_networks{
	display: inline-block;
	padding-right: 8px;
}

.map_office{
	width: 100%;
	border: 1px solid #000000;
}