<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>


	<div class="wrap_contacts">
		<h1>Контакты</h1>

		<div class="contact_item">
			<img src="/joomlastayn/templates/mytemplate/images/phone.png" alt="телефон">

			<div class="phone">
				<p> 8 909 888 55 88</p>

			</div>
		</div>

		<div class="contact_item">
			<img src="/joomlastayn/templates/mytemplate/images/email.png" alt="email">

			<div class="email">
				<p> alenka__1992@mail.ru</p>

			</div>
		</div>

		<div class="contact_item">
			<h2>Мы в соцсетях:</h2>

			<div class="contact_social_networks">
				<div class="item_contact_social_networks">
					<a href="https://www.instagram.com" class=""><img
							src="/joomlastayn/templates/mytemplate/images/instagram-logo.png"
							alt="Instagram"></a>
				</div>
				<div class="item_contact_social_networks">
					<a href="https://vk.com" class=""><img
							src="/joomlastayn/templates/mytemplate/images/vk-social-logotype.png" alt="VK"></a>
				</div>
				<div class="item_contact_social_networks">
					<a href="https://www.facebook.com" class=""><img
							src="/joomlastayn/templates/mytemplate/images/facebook-social-button.png"
							alt="Facebook"></a>
				</div>
			</div>


		</div>

		<div class="contact_item">
			<h2>Адрес для самовывоза:</h2>
			<img src="/joomlastayn/templates/mytemplate/images/places.png" alt="адрес">

			<div class="address">
				<p> г. Москва, ул. Ленина, 43, оф. 587</p>

			</div>
		</div>

		<div class="map_office" id="map_office"></div>
	</div>




</body>
</html>