<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

</body>
</html>

<div class="how_order">

	<h1 class="title_how_order">Как сделать заказ</h1>

	<h2>Оплата</h2>

	<p>После оформления заказа в корзине к вам на почту придёт подтверждение заказа и счёт на оплату с
		реквизитами.</p>

	<p>Способ оплаты - перевод на карту Сбербанка или Альфа-Банка.</p>

	<p>В комментарии к платежу обязательно указывайте номер своего заказа.</p>


	<h2>Доставка</h2>

	<p class="title_delivery_method">Мы предлагаем несколько вариантов доставки:</p>

	<div class="delivery_method">
		<img src="/joomlastayn/templates/mytemplate/images/man-carrying.png" alt="самовывоз">

		<div class="description_delivery right independent_export">
			<p> Самовывоз из офиса в Москве.</p>

			<p class="price_delivery">Вы можете забрать свой заказ на следующий день после оплаты, если товар есть в
				наличии.</p>
		</div>
	</div>

	<div class="delivery_method">
		<img src="/joomlastayn/templates/mytemplate/images/fast-delivery.png" alt="доставка курьером">

		<div class="description_delivery right courier">
			<p>Доставка курьером по Москве.</p>

			<p class="price_delivery">Стоимость доставки до адреса внутри МКАД: 500 рублей.</p>
		</div>
	</div>

	<div class="delivery_method">
		<img src="/joomlastayn/templates/mytemplate/images/send-message.png" alt="доставка почтой">

		<div class="description_delivery right first_class">
			<p>Доставка Почтой России: oтправление 1 класса.</p>

			<p class="price_delivery">Стоимость доставки: 350 рублей.</p>
		</div>
	</div>

	<div class="delivery_method">
		<img src="/joomlastayn/templates/mytemplate/images/ems.png" alt="ЕМС">

		<div class="description_delivery right ems">
			<p>Доставка Почтой России: EMS russian post.</p>

			<p class="price_delivery">Стоимость доставки: 550 рублей.</p>
		</div>
	</div>

	<p class="attention">Обратите внимание, при заказе Почтой России обязательно указывайте полностью ФИО.</p>

	<p>Все посылки отправляются с объявленной ценностью.</p>

	<p>Если изделия нет в наличии или вы сделали индивидуальный заказ, сроки доставки будут оговариваться
		отдельно.</p>

</div>